* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  background-color: #292d36;
  color: var(--first-color);
  margin: auto;
  background: url("https://cdn.pixabay.com/photo/2017/10/22/21/02/food-2879265_960_720.jpg");
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
