.navbar {
  background-color: rgb(196, 162, 119);
  height: 4vw;
}

.navbar_button1 {
  font-size: 15px;
  height: 28px;
  width: 98px;
  background-color: #142f43;
  border-radius: 0.4vw;
  color: aliceblue;
  position: absolute;
  top: 2.3%;
  left: 24%;
  cursor: pointer;
  
}

.navbar_button2 {
  font-size: 15px;
  height: 28px;
  width: 160px;
  background-color: #142f43;
  border-radius: 0.4vw;
  color: aliceblue;
  position: absolute;
  top: 2.3%;
  left: 41%;
  cursor: pointer;
}

.navbar_searchbar {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
}
